@font-face {
  font-family: "pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pretendard.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "EBGaramond";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/EBGaramond-Variable.ttf") format("truetype");
}
@font-face {
  font-family: "NOOA";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NOOA.ttf") format("truetype");
}